neo4j~=5.24.0
cysystemd
lief~=0.15.1
mmh3~=4.1.0
matplotlib
numpy~=2.1.0
scikit-learn~=1.5.1
seaborn~=0.13.2
datasketch
hnswlib
redis
PyYAML~=6.0.2
requests~=2.32.3
pefile~=2024.8.26
Flask~=3.0.3
memory_profiler
